.name_level{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.participants{
    display: grid;
    justify-content: right;
    grid-template-columns: repeat(6, 10rem);
}
.champPics{
    width: 3rem;
}
.infoContainer{
    width: 18rem;
}
.championUsedPic{
    width: 4rem;
}