.name_level{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.participants{
    display: grid;
    justify-content: right;
    grid-template-columns: repeat(4, 10rem);
}
.ChampPics{
    width: 3rem;
}