.name_level{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.participants{
    display: grid;
    justify-content: right;
    grid-template-columns: repeat(6, 10rem);
}
.champPics{
    width: 3rem;
}
.infoContainer{
    width: 18rem;
}
.championUsedPic{
    width: 14rem;
}
body{
    background-color: #1c1c1f;
}
h1{
    color: white;
    font-size: 2rem;
}
label{
    color: white;
    font-size: 1.1rem;
    margin-right: 4rem;
}