<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MMGG</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <script src="js/fetch.js"></script>
    <link rel="stylesheet" href="../js/css/index.css">

</head>
<body>
     <h1 class="text-2xl">MMGG</h1>
    
     <img id="summoner_pic" src="" alt="summoner pic">

    <div class="md:container md:mx-auto  flex border justify-center border-black ">

        <div class="grid   ">
        <label for="regionMenu decoration-black">Region</label>
        <select name="regions" id="regions">
            <option value="0">Brazil</option>
            <option value="1">Europe North & East</option>
            <option value="2">Europe West</option>
            <option value="3">Japan</option>
            <option value="4">Korea</option>
            <option value="5">LAN</option>
            <option value="6">LAS</option>
            <option value="7">North America</option>       
            <option value="8">Oceania</option>
            <option value="9">Turkey</option>
            <option value="10">Russia</option>
            <option value="11">Phillippines</option>
            <option value="12">Singapore</option>
            <option value="13">Thailand</option>
        </select>
    </div>
   
    <div class="grid flex-1 w-64">
    <label for="summonerName">Summoner Name:</label>
    <input  class="flex-1 w-64" type="text" id="summonerName"/>
</div>

    <label for="searchSummoner"></label>
    <button class="rounded bg-blue-500 border border-blue-700" onclick="searchSummoner()">Search Summoner</button>

    <div id="summoner_name"></div>
    <div id="summoner_level"></div>


    
    <div id="regionPicked"></div>   
</div>

    <div id="error"></div>

    <!-- Wins loss -->
    <h3>Wins:<div id="wins"></div></h3>
    <h3>Loses:<div id="losses"></div></h3>

    <!-- Tier/rank/lp -->
    <h3>Tier:<div id="tier"></div></h3>
    <h3>Rank:<div id="rank"></div></h3>
    <h3>LP:<div id="LP"></div></h3>
    <div id="winrate"></div>


   
  




</body>
</html>